#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# This file is public domain software, originally written by Joey Hess.
#
# This version is for packages that are architecture independent.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	#$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	#$(MAKE) clean
	#$(MAKE) distclean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install
	# Create languages directories
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ar/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ast/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/be/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ca/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/cs/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/de/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/en_GB/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/en/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/es/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/eu/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/fi/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/fr/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/gl/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/hr/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/hu/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/id/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/it/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ja/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ka/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/lt/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/mn/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ms/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/nl/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/pl/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/pt_BR/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/pt/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ro/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ru/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/si/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/sk/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/sr/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/sv/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/tr/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/uk/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/vi/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/zh_CN/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/zh_HK/LC_MESSAGES
	mkdir -p ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/zh_TW/LC_MESSAGES
	# End create languages directories
	# Compile languages
	msgfmt po/ar.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ar/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/ast.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ast/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/be.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/be/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/ca.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ca/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/cs.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/cs/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/de.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/de/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/en_GB.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/en_GB/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/en.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/en/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/es.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/es/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/eu.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/eu/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/fi.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/fi/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/fr.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/fr/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/gl.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/gl/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/hr.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/hr/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/hu.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/hu/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/id.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/id/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/it.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/it/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/ja.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ja/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/ka.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ka/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/lt.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/lt/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/mn.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/mn/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/ms.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ms/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/nl.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/nl/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/pl.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/pl/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/pt_BR.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/pt_BR/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/pt.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/pt/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/ro.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ro/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/ru.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/ru/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/si.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/si/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/sk.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/sk/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/sr.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/sr/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/sv.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/sv/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/tr.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/tr/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/uk.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/uk/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/vi.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/vi/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/zh_CN.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/zh_CN/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/zh_HK.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/zh_HK/LC_MESSAGES/touchpad-indicator.mo
	msgfmt po/zh_TW.po -o ${CURDIR}/debian/touchpad-indicator/usr/share/locale-langpack/zh_TW/LC_MESSAGES/touchpad-indicator.mo
	# End comile languages
	# Add here commands to install the package into debian/<packagename>.
	#$(MAKE) prefix=`pwd`/debian/`dh_listpackages`/usr install

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	# added gconf and icons
#	dh_gconf
	dh_icons
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installcatalogs
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installwm
#	dh_installudev
#	dh_lintian
#	dh_bugfiles
#	dh_undocumented
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_pysupport
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
