[Desktop Entry]
Name = Touchpad-Indicator
GenericName = Touchpad-Indicator
Comment = An indicator for the Touchpad
Exec = /usr/bin/touchpad-indicator
Icon = /usr/share/touchpad-indicator/icons/touchpad-indicator.svg
Type = Application
Terminal = false
StartupNotify = true
Encoding = UTF-8
Categories = Utility;
X-Ubuntu-Gettext-Domain = touchpad-indicator
Name[zh_TW] = Touchpad-Indicator
Name[tr] = Touchpad-Indicator
Name[id] = Touchpad-Indicator
Name[ka] = Touchpad-Indicator
Name[ms] = Penunjuk-Pad-Sentuh
Name[gl] = Touchpad-Indicator
Name[vi] = Touchpad-Indicator
Name[zh_HK] = Touchpad-Indicator
Name[be] = Індыкатар Тачпада
Name[es] = Indicador Touchpad
Name[eu] = Touchpad-Indicator
Name[cs] = Touchpad-Indicator
Name[pt_BR] = Indicador-RatoTátil
Name[ca] = Touchpad-Indicator
Name[pl] = Touchpad-Indicator
Name[sv] = Touchpad-Indicator
Name[ast] = Touchpad-Indicator
Name[hu] = Touchpad-Indicator
Name[fi] = Kosketuslevyn ilmaisin
Name[nl] = Touchpad Indicator
Name[fr] = Touchpad-Indicator
Name[en_GB] = Touchpad-Indicator
Name[hr] = Touchpad-Indikator
Name[ja] = タッチパッド・インディケーター
Name[lt] = Touchpad-Indicator
Name[pt] = Touchpad-Indicator
Name[ru] = Touchpad-Indicator
Name[it] = indicatore del Touchpad
Name[si] = Touchpad-Indicator
Name[mn] = Touchpad-Indicator
Name[uk] = Touchpad-Indicator
Name[en] = Touchpad-Indicator
Name[zh_CN] = 触摸板指示器
Name[de] = Touchpad-Anzeige
Name[ro] = Indicator touchpad
Name[sr] = Touchpad-Indicator
Name[ar] = مؤشر لوحة اللمس
Name[sk] = Touchpad-Indikátor
GenericName[zh_TW] = Touchpad-Indicator
GenericName[tr] = Touchpad-Indicator
GenericName[id] = Touchpad-Indicator
GenericName[ka] = Touchpad-Indicator
GenericName[ms] = Penunjuk-Pad-Sentuh
GenericName[gl] = Touchpad-Indicator
GenericName[vi] = Touchpad-Indicator
GenericName[zh_HK] = Touchpad-Indicator
GenericName[be] = Індыкатар Тачпада
GenericName[es] = Indicador Touchpad
GenericName[eu] = Touchpad-Indicator
GenericName[cs] = Touchpad-Indicator
GenericName[pt_BR] = Indicador-RatoTátil
GenericName[ca] = Touchpad-Indicator
GenericName[pl] = Touchpad-Indicator
GenericName[sv] = Touchpad-Indicator
GenericName[ast] = Touchpad-Indicator
GenericName[hu] = Touchpad-Indicator
GenericName[fi] = Kosketuslevyn ilmaisin
GenericName[nl] = Touchpad Indicator
GenericName[fr] = Touchpad-Indicator
GenericName[en_GB] = Touchpad-Indicator
GenericName[hr] = Touchpad-Indikator
GenericName[ja] = タッチパッド・インディケーター
GenericName[lt] = Touchpad-Indicator
GenericName[pt] = Touchpad-Indicator
GenericName[ru] = Touchpad-Indicator
GenericName[it] = indicatore del Touchpad
GenericName[si] = Touchpad-Indicator
GenericName[mn] = Touchpad-Indicator
GenericName[uk] = Touchpad-Indicator
GenericName[en] = Touchpad-Indicator
GenericName[zh_CN] = 触摸板指示器
GenericName[de] = Touchpad-Anzeige
GenericName[ro] = Indicator touchpad
GenericName[sr] = Touchpad-Indicator
GenericName[ar] = مؤشر لوحة اللمس
GenericName[sk] = Touchpad-Indikátor
Comment[zh_TW] = 觸控板指示器
Comment[tr] = İmleçsürer için bir işaret
Comment[id] = Indikator untuk Touchpad
Comment[ka] = სერნსორული პანელის ინდიკატორი
Comment[ms] = Merupakan penunjuk untuk Pad Sesentuh
Comment[gl] = Un indicador para o panel táctil
Comment[vi] = Một chỉ báo cho Touchpad
Comment[zh_HK] = An indicator for the Touchpad
Comment[be] = Індыкатар для Тачпада
Comment[es] = Un indicador para el touchpad
Comment[eu] = Touchpad adierazlea
Comment[cs] = Indikátor pro touchpad
Comment[pt_BR] = Um indicador para o Touchpad
Comment[ca] = Un indicador pel touchpad
Comment[pl] = Wskaźnik Touchpad
Comment[sv] = En indikator för styrplatta
Comment[ast] = Un indicador pal touchpad
Comment[hu] = Egy indikátor az érintőtáblához
Comment[fi] = Ilmaisin kosketuslevyä varten
Comment[nl] = Een indicator voor het touchpad
Comment[fr] = Une notification pour le pavé tactilé
Comment[en_GB] = An indicator for the Touchpad
Comment[hr] = Indikator za Touchpad
Comment[ja] = タッチパッド用インジケーター
Comment[lt] = Jutiklinio kilimėlio (touchpad) indikatorius
Comment[pt] = Um indicador para o Touchpad
Comment[ru] = Индикатор сенсорной панели
Comment[it] = Un indicatore per il touchpad
Comment[si] = ටච්පුවරුව සඳහා දර්ශකය
Comment[mn] = An indicator for the Touchpad
Comment[uk] = Індикатор для сенсорної панелі
Comment[en] = An indicator for the Touchpad
Comment[zh_CN] = 触摸板指示器
Comment[de] = Eine Anzeige für das Touchpad
Comment[ro] = Indicator pentru touchpad
Comment[sr] = Указивач за Додирну таблу
Comment[ar] = مؤشر للوحة اللمس
Comment[sk] = Indikátor touchpadu
