[Desktop Entry]
Type=Application
Exec=/usr/bin/python3 /usr/bin/touchpad-indicator
Hidden=false
NoDisplay=false
Name[es_ES]=Touchpad Indicator Autostart
Name=Touchpad Indicator Autostart
X-MATE-Autostart-Phase=Applications
X-MATE-Autostart-Delay=2
X-MATE-Autostart-enabled=true
X-GNOME-Autostart-Phase=Applications
X-GNOME-Autostart-Delay=2
X-GNOME-Autostart-enabled=true
